@import "../../../../styles/variables";
@import "../../../../styles/media-mixin";

.files-toolbar {
    display: flex;
    justify-content: flex-start;
}
.inline-form {
    margin-right: 20px;
    .form-input-append {
        cursor: pointer;
    }
}
