<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-bottom: 40px">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="" (click)="linkHome()">LožiGor Box</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                (click)="menuCollapsed = !menuCollapsed"
                [attr.aria-expanded]="!menuCollapsed"
                aria-controls="navbarsExampleDefault"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent"
             [ngbCollapse]="menuCollapsed">
            <ul class="navbar-nav mr-auto">
                <!-- HOME PAGE -->
                <li class="nav-item active">
                    <a class="nav-link" routerLink="" (click)="linkHome()">Domov<span class="sr-only">(current)</span></a>
                </li>
                <!-- SECOND PAGE ?? -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="" (click)="linkManage()">Upravljaj</a>
                </li>
                <!-- SEARCH BAR -->
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto" >
                <!-- DROPDOWN ZA ODJAVO -->
                <li class="nav-item dropdown mr-5" *ngIf="prijavljen && trenutniUporabnik != null">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);"
                       role="button"
                       (click)="dropdownCollapsed = !dropdownCollapsed"
                       [attr.aria-expanded]="!dropdownCollapsed"
                       aria-controls="navbarDropdown">
                        {{trenutniUporabnik.ime}}
                        <fa name="address-card" size="lg"></fa>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="navbarDropdown" [ngbCollapse]="dropdownCollapsed">
                        <a class="dropdown-item" routerLink="" (click)="linkProfil()">Profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="" (click)="odjava()">Odjava</a>
                    </div>
                </li>
                <li *ngIf="!prijavljen" class="nav-item mr-5">
                    <a class="nav-link" routerLink="" (click)="linkPrijava()">
                        <fa name="lock" size="lg"></fa> Prijavi
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<footer></footer>
