@import "../../../../styles/variables";
@import "../../../../styles/media-mixin";

header {
    background-color: $blue-header;
    display: flex;
    justify-content: center;

    .header-content {
        padding: 5px 0;
        @include centered($justify: space-between);

        nav {
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .brand-container {
                margin-right: 40px;

                .brand {
                    @include centered($justify: flex-start);

                    a {
                        color: $white;
                        text-decoration: none;
                        font-size: 28px;
                    }
                }
            }

            .menu {
                display: flex;
                justify-content: flex-start;
                flex-grow: 1;

                .menu-item {
                    @include centered($justify: flex-start);
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        color: $white;
                        font-weight: 600;
                    }
                    &.user-section {
                        margin-left: auto;
                        font-size: 22px;

                        .phone-title {
                            display: none;
                        }
                        .logout-btn {
                            margin-left: 20px;
                            color: $white;
                            cursor: pointer;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@include device-specific($phone) {
    header {
        .header-content {
            width: 90%;
            nav {
                flex-direction: column;

                .brand-container {
                    margin-right: 0;
                    display: flex;
                    justify-content: flex-start;

                    .mobile-toggler {
                        font-size: 36px;
                        margin-right: 30px;
                        color: $white;
                        @include centered;
                    }
                    .brand {
                        flex-grow: 1;
                        @include centered($justify: flex-start);
                        a {
                            font-size: 28px;
                        }
                    }
                }
                .menu {
                    overflow: hidden;
                    height: 0;
                    -webkit-transition: height 200ms ease-in;
                    -moz-transition: height 200ms ease-in;
                    -o-transition: height 200ms ease-in;
                    transition: height 200ms ease-in;

                    display: block;
                    flex-grow: 1;

                    .menu-item {
                        @include centered;
                        margin-right: 0;
                        padding-top: 20px;

                        &.user-section {
                            flex-direction: column;

                            .phone-title {
                                display: inline;
                                font-size: 16px;
                                margin-left: 10px;
                                font-weight: 600;
                            }
                            .logout-btn {
                                margin-top: 10px;
                                margin-left: 0;
                            }
                        }
                        &:last-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
@include device-specific($tablet) {
    header {
        .header-content {
            width: 90%;
            nav {
                .brand-container {
                    .mobile-toggler {
                        display: none;
                    }
                }
                .menu {
                    height: unset !important;
                }
            }
        }
    }
}
@include device-specific($pc) {
    header {
        .header-content {
            width: 60%;

            nav {
                .brand-container {
                    .mobile-toggler {
                        display: none;
                    }
                }
                .menu {
                    height: unset !important;
                }
            }
        }
    }
}
