<header>
    <div class="header-content">
        <nav>
            <div class="brand-container">
                <div class="mobile-toggler">
                    <fa-icon [icon]="['fas', 'bars']" (click)="toggleMobileMenu()"></fa-icon>
                </div>
                <div class="brand">
                    <a [routerLink]="['/']" (click)="closeMobileMenuOnNavigation()">
                        <h1>LozigorBox</h1>
                    </a>
                </div>
            </div>
            <div class="menu" #navMenu>
                <div class="menu-item">
                    <a [routerLink]="['/admin']" *ngIf="hasAdminRights"
                        (click)="closeMobileMenuOnNavigation()">Admin</a>
                </div>
                <div class="menu-item user-section">
                    <a [routerLink]="['/user/profile']" *ngIf="isAuthenticated"
                        (click)="closeMobileMenuOnNavigation()">
                        <fa-icon icon="user" title="User profile"></fa-icon>
                        <span class="phone-title">User profile</span>
                    </a>
                    <span class="logout-btn" (click)="logout()" *ngIf="isAuthenticated">
                        <fa-icon icon="sign-out-alt" title="Sign out"></fa-icon>
                        <span class="phone-title">Sign out</span>
                    </span>
                </div>
            </div>
        </nav>
    </div>
</header>
