<div class="wrapper">
    <div class="container">
        <h2>Profil</h2>
        <form (submit)="posodobiProfil()" (reset)="reset()" class="col-sm-8">
            <div class="form-group">
                <label for="upime">Uporabniško Ime:</label>
                <input type="text" [(ngModel)]="profil.uporabniskoIme" id="upime" class="form-control" name="upime"/>
            </div>
            <div class="form-group">
                <label for="email">Elektronski naslov:</label>
                <input type="email" [(ngModel)]="profil.email" id="email" name="email" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="vloge">Vaše vloge:</label>
                <p id="vloge">{{vloge}}</p>
            </div>
            <i>V primeru da ne želite spremeniti gesla, pustite spodnja polja prazna.</i>
            <div class="form-group">
                <label for="geslo1">Novo geslo:</label>
                <input type="password" [(ngModel)]="profil.geslo1" id="geslo1" name="geslo1" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="geslo2">Ponovite novo geslo:</label>
                <input type="password" [(ngModel)]="profil.geslo2" id="geslo2" name="geslo2" class="form-control"/>
            </div>
            <div class="alert alert-danger" *ngIf="sporociloNapaka != null">
                <strong>Napaka!</strong> {{sporociloNapaka}}
            </div>
            <div class="alert alert-success" *ngIf="prikaziUspeh">
                <strong>Uspeh!</strong> Posodobili ste svoj profil!
                <a routerLink="" (click)="domov()" class="alert-link">Vrnite se na domačo stran.</a>
            </div>
            <button type="submit" class="btn btn-primary">Shrani</button>
            <button type="reset" class="btn btn-danger">Ponastavi</button>
        </form>
    </div>
</div>