.alert-geslo {
    color: red;
}

label {
    font-weight: bold;
}

h2 {
    text-align: center;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
button[type="submit"] {
    width: 30%;
}