<div class="wrapper">

    <div class="container h-100 mt-5">
        <div id="search_bar" class="row h-100 justify-content-center align-items-center">
            <!-- Search bar -->
            <form class="form-inline" (submit)="poisciDatoteke()" (reset)="prekliciIskanje()">
                <div class="form-inline mr-2">
                    <input class="form-control" title="Išči" placeholder="Išči" type="text" name="query" [(ngModel)]="query"/>
                </div>
                <button type="submit" class="btn btn-outline-primary mr-2" [disabled]="query == ''">
                    <fa name="search" size="lg"></fa>
                    Išči
                </button>
                <button type="reset" class="btn-outline-danger btn" *ngIf="query != ''">Prekliči</button>
            </form>
        </div>
        <div class="m-2 mb-4" *ngIf="lahkoVidiUpload()">
            <button type="button" class="btn-upload btn btn-primary" (click)="openModalUploadFile(content)">Naloži</button>
        </div>
        <div id="files-wrapper" class="row h-100 justify-content-center align-items-center">
            <!-- GO ONE UP ELEMENT-->
            <div (click)="pojdiEnoGor()" *ngIf="parentMapa != 0" class="menu-element col-sm-12 p-2">
                <fa name="folder" size="lg"></fa>
                <span class="menu-element-title">..</span>
            </div>
            <div *ngFor="let item of menu" class="noselect menu-element p-2 col-sm-12"
                 (dblclick)="handleMenuItem(item)" (click)="izberiElement(item)"
                 [ngClass]="{'trenutni-element': trenutniElement != null && trenutniElement.id == item.id}">
                <!-- FOLDER -->
                <fa name="folder" size="lg" *ngIf="item.tip == 'DIR'"></fa>
                <span class="menu-element-title" *ngIf="item.tip == 'DIR'" style="color: red">
                    {{item.ime}}
                </span>
                <!-- FILE -->
                <fa name="file" size="lg" *ngIf="item.tip == 'FILE'"></fa>
                <span class="menu-element-title" *ngIf="item.tip == 'FILE'">
                    {{item.file.ime}}
                </span>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Naloži datoteko</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (submit)="posljiDatotekeNaServer()">
            <div class="form-group">
                <label for="files">Datoteke:</label>
                <input type="file" multiple name="files" (change)="handleFileInput($event.target.files)"
                       id="files" class="form-control"/>
            </div>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
