.menu-element {
    cursor: pointer;
}
.menu-element:hover {
    background-color: #e6e6e6;
}
.trenutni-element, .trenutni-element:hover {
    background-color: #1aa3ff;
}
#search_bar {
    margin-bottom: 30px;
}
.menu-element-title {
    margin-left: 15px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
.btn-upload {
    width: 10%;
}