@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900');

@import "grouped";

$font-open-sans: 'Open Sans', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$blue-header: #1E90FF;
$blue-400: #0E2875;
$error-red: #8B190F;

$white: white;

$notif-success: #1f3e21;
$notif-success-bg: rgba(37, 170, 16, 0.69);
$notif-error: #632c2e;
$notif-error-bg: #ee786c;
$notif-info: #2a5dbc;
$notif-info-bg: #bcdafb;
$notif-warning: #57553a;
$notif-warning-bg: #d4ce70;

